[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=/usr/bin/start-jenkins-slave.sh
TryExec=/usr/bin/start-jenkins-slave.sh
Terminal=true
Name=Jenkins Slave
